[submodule "hashset-cpp"]
	path = hashset-cpp
	url = https://github.com/bbondy/hashset-cpp.git
[submodule "bloom-filter-cpp"]
	path = bloom-filter-cpp
	url = https://github.com/bbondy/bloom-filter-cpp.git
[submodule "ad-block"]
	path = ad-block
	url = https://github.com/brave/ad-block.git
[submodule "tracking-protection"]
	path = tracking-protection
	url = https://github.com/brave/tracking-protection.git
[submodule "braveSync"]
	path = braveSync
	url = https://github.com/brave/sync
[submodule "brave-crypto"]
	path = brave-crypto
	url = https://github.com/brave/crypto
[submodule "niceware"]
	path = niceware
	url = https://github.com/diracdeltas/niceware.git
[submodule "anonize2"]
	path = bat-native-anonize
	url = https://github.com/brave-intl/bat-native-anonize.git
[submodule "bip39wally-core"]
	path = bip39wally-core-native
	url = https://github.com/brave-intl/bip39wally-core-native.git
[submodule "braveLedger"]
	path = bat-native-ledger
	url = https://github.com/brave-intl/bat-native-ledger.git
[submodule "bat-native-tweetnacl"]
	path = bat-native-tweetnacl
	url = https://github.com/brave-intl/bat-native-tweetnacl.git
[submodule "bat-native-rapidjson"]
	path = bat-native-rapidjson
	url = https://github.com/brave-intl/bat-native-rapidjson.git
