<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <script src="chrome://resources/js/util.js"></script>
  <script src="chrome://rewards/rewards.js"></script>
  <script src="chrome://resources/js/jstemplate_compiled.js"></script>
</head>
<body>
  <h3>For testing only</h3>
  <p>
    <h4>Create wallet</h4>
    <button id="create_wallet" type="button" tabindex="1" style="height:100px;width:500px">
      Create Wallet
    </button>
  </p>
  <p>
    <div>
      <h4>SetPublisherMinVisitTime (uint64_t duration)</h4>
      <button id="btn_setpublisherminvisittime" type="button" tabindex="2">
        SetPublisherMinVisitTime
      </button>
      <input type="number" id="setpublisherminvisittime_duration" placeholder="duration in ms" min="0" max="18446744073709551615" tabindex="3" value="0"/>
    </div>
  </p>
  <p>
    <div>
      <h4>uint64_t GetPublisherMinVisitTime</h4>
      <button id="btn_getpublisherminvisittime" type="button" tabindex="4">
        GetPublisherMinVisitTime
      </button>
      <label id="getpublisherminvisittime_duration" tabindex="5">n/a</label>
    </div>
  </p>
  <p>
    <div>
      <h4>SetPublisherMinVisits (unsigned int visits)</h4>
      <button id="btn_setpublisherminvisits" type="button" tabindex="6">
        SetPublisherMinVisits
      </button>
      <input type="number" id="setpublisherminvisits_visits" placeholder="visits" min="0" max="4294967295" tabindex="7" value="0"/>
    </div>
  </p>
  <p>
    <div>
      <h4>unsigned int GetPublisherMinVisits</h4>
      <button id="btn_getpublisherminvisits" type="button" tabindex="8">
        GetPublisherMinVisitTime
      </button>
      <label id="getpublisherminvisits_visits" tabindex="9">n/a</label>
    </div>
  </p>
  <p>
    <div>
      <h4>SetPublisherAllowNonVerified (bool allow)</h4>
      <button id="btn_setpublisherallownonverified" type="button" tabindex="10">
        SetPublisherAllowNonVerified
      </button>
      <input type="checkbox" id="setpublisherallownonverified_allow" tabindex="11" checked"/>
    </div>
  </p>
  <p>
    <div>
      <h4>bool GetPublisherAllowNonVerified</h4>
      <button id="btn_getpublisherallownonverified" type="button" tabindex="12">
        GetPublisherMinVisitTime
      </button>
      <input type="checkbox" id="getpublisherallownonverified_allow" tabindex="13" disabled/>
    </div>
  </p>
  <p>
    <div>
      <h4>SetContributionAmount (double amount)</h4>
      <button id="btn_setcontributionamount" type="button" tabindex="14">
        SetPublisherAllowNonVerified
      </button>
      <input id="setcontributionamount_amount" type="number" min="0.000" placeholder="0.0-max double" step="1.0" tabindex="15" value="0.0" />
    </div>
  </p>
  <p>
    <div>
      <h4>double GetContributionAmount</h4>
      <button id="btn_getcontributionamount" type="button" tabindex="16">
        GetContributionAmount
      </button>
      <label id="getcontributionamount_amount" tabindex="17">n/a</label>
    </div>
  </p>
</body>
</html>
